<ion-content>

  <div class="ion-padding">
    <app-videostream-card></app-videostream-card>
    <h1>Recorded Videos</h1>
    <ion-list>
      <ion-grid>
        <ion-row *ngFor="let item of items; let i=index;">
          <ion-col size-xl="6" size-lg="6" size-md="6" size="6">
            <app-videostore-card [data]=item[0]></app-videostore-card>
          </ion-col>
          <ion-col size-xl="6" size-lg="6" size-md="6" size="6">
            <app-videostore-card [data]=item[1]></app-videostore-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-list>

    <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
      <ion-infinite-scroll-content
        loadingSpinner="bubbles"
        loadingText="Loading more data...">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </div>
</ion-content>
