<ion-header>
  <ion-toolbar>
    <ion-title>Recorded Videos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="ion-padding">
    <h1>Infinite scroll</h1>
    <ion-list>
      <ion-item *ngFor="let item of items"><app-videostore-card [data]=item></app-videostore-card></ion-item>
    </ion-list>

    <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
      <ion-infinite-scroll-content
        loadingSpinner="bubbles"
        loadingText="Loading more data...">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </div>
</ion-content>
