<ion-card>
  <table><tr>
    <td class="imageBox">
      <img src="{{data.getImageUrl()}}" *ngIf="this.platform.width() >= 700">
    </td>
    <td class="contentBox">
      <img src="{{data.getImageUrl()}}" *ngIf="this.platform.width() < 700">
      <ion-card-header class="header">
        <div class="details">
          <ion-card-title>{{data.getTitle()}}</ion-card-title>
          <ion-button (click)="playVideo()">Play Video</ion-button>
<!--          <ion-card-subtitle></ion-card-subtitle>-->
        </div>
      </ion-card-header>

      <ion-card-content>
        {{data.getRecordedDate()}}
      </ion-card-content>
    </td>
  </tr></table>
</ion-card>
