<div (window:resize)="onResize($event)"></div>
<div (window:(load))="onResize($event)"></div>
<ion-card> <!--button (click)="viewDetails()"-->
  <table><tr>
    <td class="imageBox">
      <img src="{{data.getImageUrl()}}" *ngIf="this.platform.width() >= 700">
    </td>
    <td class="contentBox">
      <img src="{{data.getImageUrl()}}" *ngIf="this.platform.width() < 700">
      <ion-card-header class="header">
        <div class="details">
          <ion-card-title>{{data.getTitle()}}</ion-card-title>
          <ion-button (click)="playVideo()">Play Video</ion-button>
<!--          <ion-card-subtitle>-->
<!--        <span *ngFor="let author of data.authors; let j=index">-->
<!--          {{author.name}}<ng-template [ngIf]="j < data.authors.length-1">, </ng-template>-->
<!--        </span>-->
<!--          </ion-card-subtitle>-->
        </div>
<!--        <ng-template [ngIf]="showRejectButton == true">-->
<!--          <ion-button size="small" color="danger" (click)="rejectRecommendation($event)">-->
<!--            <ion-icon name="heart-dislike-outline"></ion-icon>-->
<!--          </ion-button>-->
<!--        </ng-template>-->
      </ion-card-header>

      <ion-card-content>
        {{data.getRecordedDate()}}
      </ion-card-content>
    </td>
  </tr></table>
</ion-card>
<!--<ion-card>-->
<!--  <img src="{{data.getImageUrl()}}" />-->
<!--  <ion-card-header>-->
<!--    <ion-card-subtitle>{{data.getRecordedDate()}}</ion-card-subtitle>-->
<!--    <ion-card-title>{{data.getTitle()}}</ion-card-title>-->
<!--  </ion-card-header>-->
<!--  <ion-card-content>-->
<!--    Founded in 1829 on an isthmus between Lake Monona and Lake Mendota, Madison was named the capital of the Wisconsin Territory in 1836.-->
<!--  </ion-card-content>-->
<!--</ion-card>-->
