<swiper #swiper2 [config]="swiperConfig2">
  <ng-template swiperSlide>
    <ion-card>
      <ion-card-header>
        <ion-title>
          THE BIG PICTURE
        </ion-title>
      </ion-card-header>
    </ion-card>

  </ng-template>
  <ng-template swiperSlide>
    <ion-grid class="initial">
      <ion-row class="initial">
        <ion-col class="initial">
          d
        </ion-col>
        <ion-col class="initial">
d
        </ion-col>
      </ion-row>
      <ion-row class="initial">
        <ion-col class="initial">
d
        </ion-col>
        <ion-col class="initial">
d
        </ion-col>
      </ion-row>
    </ion-grid>
  </ng-template>
  <ng-template swiperSlide>
    asdd
  </ng-template>
</swiper>
