<swiper #swiper2 [config]="swiperConfig2">
  <ng-template swiperSlide>
    <span>
      <ion-title>The Big Picture</ion-title>
    </span>
    <br>
    <br>
    <span><ng-lottie [options]="lottieScrollDownConfig" ></ng-lottie></span>
  </ng-template>
  <ng-template swiperSlide>
    <ion-grid class="initial">
      <ion-row class="initial">
        <ion-col class="initial ion-align-items-center ion-justify-content-center ion-text-center">
          d
        </ion-col>
        <ion-col class="initial ion-align-items-center ion-justify-content-center ion-text-center">
          d
        </ion-col>
      </ion-row>
      <ion-row class="initial">
        <ion-col class="initial ion-align-items-center ion-justify-content-center ion-text-center">
          d
        </ion-col>
        <ion-col class="initial ion-align-items-center ion-justify-content-center ion-text-center">
          d
        </ion-col>
      </ion-row>
    </ion-grid>
  </ng-template>
  <ng-template swiperSlide>
    asdd
  </ng-template>
</swiper>
