

<ion-content *ngIf="!isDesktop">
 <ion-grid id="analysedVideosMobile">
   <ion-row>
    <ion-col size="12">
      <ion-list>
        <ion-item>
          <ion-label>Input</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Input</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Input</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Input</ion-label>
        </ion-item>
      </ion-list>
    </ion-col>
   </ion-row>
   <br>
   <ion-row >
     <ion-col size="12">
       <ion-list>
         <ion-item>
           <ion-label>Input</ion-label>
         </ion-item>
         <ion-item>
           <ion-label>Input</ion-label>
         </ion-item>
         <ion-item>
           <ion-label>Input</ion-label>
         </ion-item>
         <ion-item>
           <ion-label>Input</ion-label>
         </ion-item>
       </ion-list>
     </ion-col>

   </ion-row>


 </ion-grid>
</ion-content>

<ion-content *ngIf="isDesktop">
  <ion-grid id="analysedVideosDesktop">
    <ion-row>
      <ion-col size="12">
        <ion-list>
          <ion-item>
            <ion-label>Input</ion-label>
          </ion-item>
          <ion-item>
            <ion-label>Input</ion-label>
          </ion-item>
          <ion-item>
            <ion-label>Input</ion-label>
          </ion-item>
          <ion-item>
            <ion-label>Input</ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
    <br>
    <ion-row >
      <ion-col size="12">
        <ion-list>
          <ion-item>
            <ion-label>Input</ion-label>
          </ion-item>
          <ion-item>
            <ion-label>Input</ion-label>
          </ion-item>
          <ion-item>
            <ion-label>Input</ion-label>
          </ion-item>
          <ion-item>
            <ion-label>Input</ion-label>
          </ion-item>
        </ion-list>
      </ion-col>

    </ion-row>


  </ion-grid>
</ion-content>
