<ion-content>
  <div [ngSwitch]=userPreferencesService.mediaFilter>
    <div *ngSwitchCase="'un-analyzed'">
      <ion-grid>
        <ion-row>
          <ion-col *ngFor="let image of imagesService.images$ | async; trackBy: imageTrackFn" size-xl="3">
            <app-image-card [image]="image"></app-image-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
    <div *ngSwitchCase="'analyzed'">
      <ion-grid>
        <ion-row>
          <ion-col *ngFor="let analyzedImage of analyzedImagesService.analyzedImages$ | async; trackBy: analyzedImageTrackFn" size-xl="3">
            <app-analyzed-image-card [analyzedImage]="analyzedImage"></app-analyzed-image-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
    <div *ngSwitchCase="'all'">
      <ion-grid>
        <ion-row>
          <ion-col *ngFor="let image of imagesService.images$ | async; trackBy: imageTrackFn" size-xl="3">
            <app-image-card [image]="image"></app-image-card>
          </ion-col>
          <ion-col *ngFor="let analyzedImage of analyzedImagesService.analyzedImages$ | async; trackBy: analyzedImageTrackFn" size-xl="3">
            <app-analyzed-image-card [analyzedImage]="analyzedImage"></app-analyzed-image-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>
</ion-content>
