ion-card{
  height: 100%;
  justify-content: center;
  text-align: center;
}

ion-card-title{
  justify-content: center;
  text-align: center;
}

ion-card-content{
  justify-content: center;
  text-align: center;
  display: flex !important;
  align-content: center!important;
  align-items: center!important;
  height: 100%;
}
