<ion-header>
  <ion-toolbar>
    <ion-title>allmedia</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>




  <ion-fab slot="fixed" vertical="bottom" horizontal="end" style="margin-right: 2%; margin-bottom: 2%">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button color="tertiary" (click)="videoUpload.click()">
        <ion-icon name="videocam-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="tertiary" (click)="imageUpload.click()">
        <ion-icon name="image-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
  <input hidden type="file" accept="video/mp4" #videoUpload (change)="uploadVideo($event)">
  <input hidden type="file" accept=".png, .jpeg, .jpg" #imageUpload (change)="uploadImage($event)">
</ion-content>
