<ion-header>
  <ion-grid>
    <ion-row>
      <ion-col size-xl="1" size-lg="1">
          <ion-button fill="outline" color="tertiary" shape="round" mode="md" (click)="displayFilterPopover($event)">
            <ion-label color="dark">Filter : {{segment}}</ion-label>
            <ion-icon color="dark" name="filter-outline"></ion-icon>
          </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-header>

<ion-content>
  <div [ngSwitch]="segment">
    <div *ngSwitchCase="'un-analyzed'">
      <ion-grid>
        <ion-row>
          <ion-col *ngFor="let image of imagesService.images$ | async; trackBy: imageTrackFn" size-xl="3">
            <app-image-card [image]="image"></app-image-card>
          </ion-col>
          <ion-col *ngFor="let video of videosService.videos$ | async; trackBy: videoTrackFn" size-xl="3">
            <app-videostore-card [video]="video"></app-videostore-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
    <div *ngSwitchCase="'analyzed'">
      <ion-grid>
        <ion-row>
          <ion-col *ngFor="let analyzedImage of analyzedImagesService.analyzedImages$ | async; trackBy: analyzedImageTrackFn" size-xl="3">
            <app-analyzed-image-card [analyzedImage]="analyzedImage"></app-analyzed-image-card>
          </ion-col>
          <ion-col *ngFor="let analyzedVideo of analyzedVideosService.analyzedVideos$ | async; trackBy: analyzedVideoTrackFn" size-xl="3">
           <app-analyzed-videostore-card [analyzedVideo]="analyzedVideo"></app-analyzed-videostore-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
    <div *ngSwitchCase="'all'">
      <ion-grid>
        <ion-row>
          <ion-col *ngFor="let image of imagesService.images$ | async; trackBy: imageTrackFn" size-xl="3">
            <app-image-card [image]="image"></app-image-card>
          </ion-col>
          <ion-col *ngFor="let analyzedImage of analyzedImagesService.analyzedImages$ | async; trackBy: analyzedImageTrackFn" size-xl="3">
            <app-analyzed-image-card [analyzedImage]="analyzedImage"></app-analyzed-image-card>
          </ion-col>
          <ion-col *ngFor="let video of videosService.videos$ | async; trackBy: videoTrackFn" size-xl="3">
            <app-videostore-card [video]="video"></app-videostore-card>
          </ion-col>
          <ion-col *ngFor="let analyzedVideo of analyzedVideosService.analyzedVideos$ | async; trackBy: analyzedVideoTrackFn" size-xl="3">
            <app-analyzed-videostore-card [analyzedVideo]="analyzedVideo"></app-analyzed-videostore-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>

  <ion-fab slot="fixed" vertical="bottom" horizontal="end" style="margin-right: 2%; margin-bottom: 2%">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button color="tertiary" (click)="videoUpload.click()">
        <ion-icon name="videocam-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="tertiary" (click)="imageUpload.click()">
        <ion-icon name="image-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
  <input hidden type="file" accept="video/mp4" #videoUpload (change)="uploadVideo($event)">
  <input hidden type="file" accept=".png, .jpeg, .jpg" #imageUpload (change)="uploadImage($event)">
</ion-content>
