<ion-grid>
  <ion-row>
    <ion-col size-xl="5" size-sm="12" size-xs="12">
      <ng-lottie [options]="lottieConfig"></ng-lottie>
    </ion-col>
    <ion-col class="ion-justify-content-start">
      <ion-card>
        <ion-card-content class="ion-align-items-center">
          <ion-card-title>
            What is this project all about ?
          </ion-card-title>
          <br>
          <ion-text color="primary">
            In short High-Five is an analysis platform for videos and images.
            <br>
            <br>
            Additionally selected drones are able to be directly interlinked into the High-Five <a
            href="https://github.com/COS301-SE-2021/High-Five/releases">app</a>
            allowing the app to communicate directly with the backend and send the drone's live video feed (or
            previously captured media) to the backend, where
            it can then be analysed and viewed by the user at a later date or simultaneously from a different
            device
          </ion-text>
<!--          <div id="#imgContainer">-->
<!--            <ion-img src="/assets/images/defaultprofile.svg"></ion-img>-->

<!--          </div>-->
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>
