ion-card{
  text-align: center;
  height: 100%;
  background: transparent !important;
  backdrop-filter: blur(2%);
}
ion-row{
  vertical-align: middle;
  text-align: center;
  display: flex !important;
  align-content: center!important;
  align-items: center!important;
  padding-right: 5%;
}

ion-card-title{
  font-size: 40pt ;
}

ion-card-content ion-text{
 font-size: 18px;
}

