<ion-grid>
  <ion-row>
    <ion-col size-xl="5" size-sm="12" size-xs="12">
      <ng-lottie [options]="lottieConfig"></ng-lottie>
    </ion-col>
    <ion-col class="ion-justify-content-start">
      <ion-grid>
        <ion-row>
          <ion-col class="ion-align-items-center">
            <ion-card>
              <ion-card-content class="ion-align-items-center">
                <ion-card-title>
                  What is this project all about ?
                </ion-card-title>
                <br>
                <ion-text color="primary">
                  High-Five is an analysis platform for videos and images, additionally selected drones are able to be directly interlinked into the High-Five <a href="High-Five">app</a>
                </ion-text>
              </ion-card-content>
            </ion-card>
            <br>
            <br>
            <ion-card>
              <ion-card-content class="ion-align-items-center">
                <ion-card-title>
                  What is this project all about ?
                </ion-card-title>
                <br>
                <ion-text color="primary">
                  High-Five is an analysis platform for videos and images, additionally selected drones are able to be directly interlinked into the High-Five <a href="High-Five">app</a>
                </ion-text>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-col>
  </ion-row>
</ion-grid>
