<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size-xl="5" size-sm="12" size-xs="12">
        <ng-lottie [options]="lottieConfig"></ng-lottie>
      </ion-col>
      <ion-col class="ion-justify-content-start">
        <ion-card>
          <ion-card-content class="ion-align-items-center">
            <ion-card-title>
              What is this project all about ?
            </ion-card-title>
            <br>
            <ion-text color="primary">
              In short High-Five is an analysis platform for videos and images.
              <br>
              <br>
              High Five is a platform designed to seamlessly integrate the complexities of drone technology with that of
              more common devices – such as desktop and mobile – offering users a comfortable and intuitive, yet highly
              customisable, interface to tap into the latent potential of their personal drones.
              <br>
              <a href="https://github.com/COS301-SE-2021/High-Five/releases">Download the app here</a>
            </ion-text>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
