<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.bdpsolutions.highfive" >

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature
        android:name="android.hardware.usb.host"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.usb.accessory"
        android:required="true" />
    <application
        android:name="com.bdpsolutions.highfive.subsystems.main.HighFiveApplication"
        android:allowBackup="true"
        android:icon="@mipmap/logo1_2"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo1_2round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HighFive" >

        <!-- DJI SDK -->
        <uses-library android:name="com.android.future.usb.accessory" />
        <meta-data
            android:name="com.dji.sdk.API_KEY"
            android:value="${DJI_SDK_API_KEY}" />
        <activity
            android:name="dji.sdk.sdkmanager.DJIAoaControllerActivity"
            android:theme="@android:style/Theme.Translucent" >
            <intent-filter>
                <action android:name="android.hardware.usb.action.USB_ACCESSORY_ATTACHED" />
            </intent-filter>
            <meta-data
                android:name="android.hardware.usb.action.USB_ACCESSORY_ATTACHED"
                android:resource="@xml/accessory_filter" />
        </activity>
        <service android:name="dji.sdk.sdkmanager.DJIGlobalService"
            tools:ignore="Instantiatable">
        </service>
        <!-- DJI SDK -->

        <activity
            android:name="net.openid.appauth.RedirectUriReceiverActivity"
            android:exported="true"
            android:permission="">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="https"
                    android:host="com.bdpsolutions.highfive"
                    android:path="/oauth2redirect"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".subsystems.login.LoginActivity"
            android:label="@string/title_activity_login"
            android:theme="@style/Theme.HighFive.NoActionBar"/>
        <activity
            android:name="com.bdpsolutions.highfive.subsystems.splash.SplashActivity"
            android:exported="true"
            android:permission=""
            android:label="@string/app_name"
            android:theme="@style/Theme.HighFive.Splash" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.bdpsolutions.highfive.subsystems.main.MainActivity"
            android:exported="true"
            android:permission=""
            android:theme="@style/Theme.HighFive.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.bdpsolutions.highfive.subsystems.drone.DroneActivity"
            android:screenOrientation="reverseLandscape"
            android:label="@string/title_activity_drone"
            android:theme="@style/Theme.HighFive.NoActionBar"
            android:exported="true"
            >
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>

        <service android:name=".services.mediaupload.MediaUploadService" />



        <meta-data
            android:name="client_id"
            android:value="${CLIENT_ID}" />
        <meta-data
            android:name="discovery_uri"
            android:value="${DISCOVERY_URI}"/>
        <meta-data
            android:name="redirect_uri"
            android:value="${REDIRECT_URI}"/>
        <meta-data
            android:name="end_session_redirect_uri"
            android:value="${END_SESSION_REDIRECT_URI}"/>
        <meta-data
            android:name="authorization_scope"
            android:value="${AUTHORIZATION_SCOPE}"/>
        <meta-data
            android:name="https_required"
            android:value="${HTTPS_REQUIRED}"/>
    </application>


</manifest>