<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bdpsolutions.highfive">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo1_2"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo1_2round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HighFive">
        <activity
            android:name=".view.activities.LoginActivity"
            android:label="@string/title_activity_login" />
        <activity
            android:name=".view.activities.SplashActivity"
            android:theme="@style/Theme.HighFive.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.activities.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>