<ion-header>
  <ion-fab vertical="top" horizontal="end" >
    <ion-button (click)="dismissWithoutSaving()" fill="clear">
      <ion-icon   name="close-outline"></ion-icon>
    </ion-button>
  </ion-fab>
</ion-header>
<ion-content>
  <ion-list>
    <ion-item>
      <ion-list-header>
        <ion-text>
          Create New Pipeline
        </ion-text>
      </ion-list-header>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Enter Pipeline Name</ion-label>
      <ion-input></ion-input>
    </ion-item>
  </ion-list>
  <ion-button (click)="dismiss()"></ion-button>
</ion-content>

<!--<div class="ion-page">-->
<!--  <ion-fab vertical="top" horizontal="end" >-->
<!--    <ion-button (click)="dismissWithoutSaving()" fill="clear">-->
<!--      <ion-icon   name="close-outline"></ion-icon>-->
<!--    </ion-button>-->
<!--  </ion-fab>-->
<!--  <ion-card>-->
<!--    <ion-card-content>-->
<!--      <ion-card-title>-->
<!--        <ion-text>-->
<!--          Create New Pipeline-->
<!--        </ion-text>-->
<!--      </ion-card-title>-->
<!--      <ion-item>-->
<!--        <ion-label position="floating">Enter Pipeline Name</ion-label>-->
<!--        <ion-input></ion-input>-->
<!--      </ion-item>-->
<!--      <ion-button (click)="dismiss()"></ion-button>-->
<!--    </ion-card-content>-->
<!--  </ion-card>-->
<!--</div>-->
