<ion-card>
  <ion-card-header>
    <ion-grid>
      <ion-row>
        <ion-col size="1"></ion-col>
        <ion-col size="10">
          <ion-card-title style="padding-top: 3%">Create Pipeline</ion-card-title>
        </ion-col>
        <ion-col size="1">
          <ion-button fill="clear" (click)="dismissWithoutSaving()">
            <ion-icon name="close-outline"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card-header>
  <ion-card-content>
    <ion-item>
      <ion-label position="floating">Enter Pipeline Name</ion-label>
      <ion-input [(ngModel)]="pipelineName"></ion-input>
    </ion-item>
  <br>
    <ion-grid id="tools-grid">
      <ion-row class="ion-justify-content-center ion-text-center ion-align-items-center">
        <ion-text>
          Tools
        </ion-text>
      </ion-row>
      <br>
      <ion-row class="ion-justify-content-center ion-text-center ion-align-items-center">
        <ion-chip color="primary" *ngFor="let tool of tools; let index = index" [outline]="true" mode="md"
                  class="tool-chip">
          <ion-label>{{tool}}</ion-label>
          <ion-icon color="danger" (click)="removeTool(tool)" name="close"></ion-icon>
        </ion-chip>
        <ion-button color="success" *ngIf="pipelineService.tools.length  !== tools.length" fill="clear" size="small" shape="round"
                    (click)="presentAddToolPopover($event)">
          <ion-icon name="add" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-row>


    </ion-grid>


  </ion-card-content>
  <br>
  <ion-button strong="true" expand="block" (click)="dismiss()" fill="outline">Add Pipeline</ion-button>
  <ion-button expand="block" (click)="dismissWithoutSaving()" fill="outline" color="danger">Cancel</ion-button>
</ion-card>
