<ion-fab vertical="top" horizontal="end" >
  <ion-button (click)="dismiss()" color="transparent">
    <ion-icon   name="close-outline"></ion-icon>
  </ion-button>
</ion-fab>
<ion-card class="ion-justify-content-center ion-align-items-center">
  <ion-card-content>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-card-title>
            {{pipeline.name}}
          </ion-card-title>
        </ion-col>
      </ion-row>
      <ion-row *ngFor="let label of tools, index as x;">
        <ion-col>
          <ion-grid>
            <ion-row>
              <ion-col>
                {{label}}
              </ion-col>
              <ion-col>
                <ion-toggle (ionChange)="selectedTools[x] = $event.detail.checked" [checked]="pipeline.tools.includes(label)" mode="ios" color="tertiary" class="ion-float-right"></ion-toggle>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-col>

      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button (click)="applyChanges()" color="success" style="width: 100%">
            <ion-icon name="checkmark-outline"></ion-icon>
          </ion-button>
        </ion-col>




      </ion-row>
    </ion-grid>
  </ion-card-content>

</ion-card>
