<ion-header>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button fill="outline" color="tertiary" shape="round" mode="md" (click)="displaySelectPipelinePopover($event)">
          <ion-label color="dark">{{userPreferencesService.liveAnalysisPipeline ? 'Pipeline : ' + userPreferencesService.liveAnalysisPipeline.name : 'Pipeline : None'}}</ion-label>
          <ion-icon color="dark" name="filter-outline"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-header>
<ion-content>
  <ion-grid class="ion-justify-content-center ion-align-items-center">
    <ion-row class="ion-justify-content-center ion-align-items-center">
      <ion-col *ngFor="let live of liveStreamingService.streams$ | async ;" class="ion-justify-content-center ion-align-items-center">
       <app-live-stream [streamId]="live.streamId"></app-live-stream>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
