<ion-header>
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col size="2">
          <ion-button fill="outline" color="tertiary" shape="round" mode="md" (click)="displayFilterPopover($event)">
            <ion-label color="dark">Filter : {{filter}}</ion-label>
            <ion-icon color="dark" name="filter-outline"></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col size="8">
          <ion-segment [(ngModel)]="mediaType" (ionChange)="segmentChange($event)">
            <ion-segment-button layout="icon-end" value="all">
              <ion-label>
                All
              </ion-label>
<!--              <ion-icon name="pin"></ion-icon>-->
            </ion-segment-button>
            <ion-segment-button layout="icon-end" value="images">
              <ion-label>
                Images
              </ion-label>
<!--              <ion-icon name="pin"></ion-icon>-->
            </ion-segment-button>
            <ion-segment-button layout="icon-end" value="videos">
              <ion-label>
                Videos
              </ion-label>
<!--              <ion-icon name="pin"></ion-icon>-->
            </ion-segment-button>
          </ion-segment>
        </ion-col>
        <ion-col size="2">

        </ion-col>
      </ion-row>
    </ion-grid>


  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-router-outlet></ion-router-outlet>
</ion-content>
