<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col *ngFor="let pipeline of pipelines" size-xl="3">
        <app-pipeline [availableTools]="availableTools" [pipeline]="pipeline" (deletePipeline)="deletePipeline($event)" (removeTool)="removeTool($event)" ></app-pipeline>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="openAddPipelineModal()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
