
<ion-content>
  <ion-header>
    <ion-title size="large">Controls</ion-title>
  </ion-header>

  <ion-grid>
    <ion-row>
      <ion-col size="4">
        <ion-button style="width: 100%;"   (click)="connect()">Connect</ion-button>
      </ion-col>
      <ion-col size="4">
        <ion-button  style="width: 100%;" (click)="takeoff()">Takeoff</ion-button>
      </ion-col>
      <ion-col size="4">
        <ion-button style="width: 100%;"  (click)="land()">Land</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button style="width: 100%;" size="6" (click)="up()">Up</ion-button>
      </ion-col>
      <ion-col>
        <ion-button style="width: 100%;" size="6" (click)="down()">Down</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button size="6"  style="width: 100%;"  (click)="forward()">Forward</ion-button>
      </ion-col>
      <ion-col>
        <ion-button size="6"  style="width: 100%;"  (click)="backward()">Backward</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button size="6" style="width: 100%;"  (click)="left()">Left</ion-button>
      </ion-col>
      <ion-col>
        <ion-button size="6" style="width: 100%;" (click)="right()">Right</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button size="6" style="width: 100%;"  (click)="rtl()">Rotate Left</ion-button>
      </ion-col>
      <ion-col>
        <ion-button size="6" style="width: 100%;" (click)="rtr()">Rotate Right</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button size="6" style="width: 100%;"  (click)="enableVideo()">Start Video Steam</ion-button>
      </ion-col>
      <ion-col>
        <ion-button size="6" style="width: 100%;" (click)="disableVideo()">Stop Video Steam</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-button (click)="startStream()">Stream</ion-button>
    </ion-row>
  </ion-grid>
</ion-content>
