<ion-card>
  <table><tr>
    <td class="imageBox">
      <img width="100px" height="100px" alt="preview" test="desktopImage" src="https://i.pinimg.com/originals/dc/eb/cb/dcebcb563b403620ddbfc1a147b5bcc2.jpg" *ngIf="this.platform.width() >= 700">
    </td>
    <td class="contentBox">
      <img width="100px" height="100px" alt="preview" test="mobileImage" src="https://i.pinimg.com/originals/dc/eb/cb/dcebcb563b403620ddbfc1a147b5bcc2.jpg" *ngIf="this.platform.width() < 700">
      <ion-card-header class="header">
        <div class="details">
          <ion-card-title test="videoTitle">{{data.name}}</ion-card-title>
          <ion-button test="playBtn" (click)="playVideo(data.id)"><ion-icon slot="start" name="play-circle-outline"></ion-icon>Play</ion-button>
          <ion-button test="playBtn" color="danger" (click)="deleteVideo(data.id)"><ion-icon slot="start" name="trash-outline"></ion-icon>Delete</ion-button>
<!--          <ion-card-subtitle></ion-card-subtitle>-->
        </div>
      </ion-card-header>

      <ion-card-content test="recordedDate">
        {{data.dateStored}}
      </ion-card-content>
    </td>
  </tr></table>
</ion-card>
