.controls {
  color: white !important;
}

.alerter .alert-wrapper {
  background: #e5e5e5;
}

.alert-style .alert-wrapper {
  background: #e5e5e5;
}
ion-card{
  max-height: 50vh;
}
img {
  display: flex;
  max-width:20vw;
  max-height:20vh;
  width: auto;
  height: auto;
  align-items: center;
  margin: auto;

}
