<ion-card>
  <ion-item class="ion-justify-content-center ion-align-items-center">
    <ion-img src="https://picsum.photos/500" alt="preview"></ion-img>
  </ion-item>
  <ion-card-content>
    <ion-card-title class="ion-text-center">
      {{video.name}}
    </ion-card-title>
    <ion-card-subtitle class="ion-text-center">
      <ion-text>Date Created : {{video.dateStored.toString()}}</ion-text>
    </ion-card-subtitle>
    <ion-buttons class="ion-justify-content-center">
      <ion-button color="primary" (click)="playVideo()">
        <ion-icon name="expand-outline"  slot="icon-only"></ion-icon>
      </ion-button>
      <ion-button color="primary" (click)="showAnalyseVideoPopover($event)">
        <ion-icon name="eye-outline" slot="icon-only"></ion-icon>
      </ion-button>
      <ion-button (click)="onDeleteVideo()" color="danger">
        <ion-icon name="trash-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-card-content>
</ion-card>

