.desktop{
  ion-router-outlet{
    margin-top: 4vh;
    margin-bottom: 1vh;
  }
  .logo{
    max-height: 5vh;
  }
  ion-toolbar{
    --background : rgb(255,255,255);
  }
  .link{
    --color: var(--ion-color-light);
  }
  .active-link{
    --color: var(--ion-color-primary)
  }
  .footer{
    width: 100%;
    color : var(--ion-color-primary);
    font-weight: bold;
    height: 5vh;
    line-height: 5vh;
    text-align: center;
    position: fixed;
    bottom: 0;
  }
}
#accountCol{
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-left: 2%;
}

#accountAvatar{
  background: rgba(0,0,0,0.2);
  height: 5vh;
  width: 5vh;
  justify-content: center;
  align-items: center;
  text-align: center;
}


#accountIcon{}

