
  <ion-header>
    <ion-toolbar>
      <ion-row class="ion-align-items-center">
        <ion-col size="2">
          <img alt="" src="assets/logos/logo2_2.svg" class="logo ion-text-left">
        </ion-col>
        <ion-col size="9">
          <div class="ion-text-left desktop-navbar">
            <ion-button fill="clear" routerLink="/navbar/landing" routerDirection="root" class="link"
                        routerLinkActive="active-link">
              Home
            </ion-button>
            <ion-button fill="clear" routerLink="/navbar/pipelines" routerDirection="root" class="link"
                        routerLinkActive="active-link">Pipelines
            </ion-button>
            <ion-button fill="clear" routerLink="/navbar/tools" routerDirection="root" class="link"
                        routerLinkActive="active-link">Tools
            </ion-button>
            <ion-button routerDirection="root" routerLink="/navbar/media" class="link" routerLinkActive="active-link" fill="clear">Media</ion-button>
            <ion-button routerDirection="root" routerLink="/navbar/live" class="link" routerLinkActive="active-link" fill="clear">Live</ion-button>
          </div>
        </ion-col>
        <ion-col size="1" id="accountCol">
          <ion-avatar id="accountAvatar" (click)="displayAccountPopover($event)">
            <lord-icon id="accountIcon"
                       src="https://cdn.lordicon.com/dxjqoygy.json"
                       trigger="hover"
                       colors="primary:#00000,secondary:#259ad0"
                       style="width:auto;height:100%;"
                       aria-label="account-menu">
            </lord-icon>
          </ion-avatar>
        </ion-col>
      </ion-row>
    </ion-toolbar>
  </ion-header>
<ion-content >
  <ion-router-outlet class="desktop-wrapper"></ion-router-outlet>
</ion-content>
