ion-grid{
  width: 100%;
}

ion-row{
  width: 100%;
}
ion-button{
  width: 100%;
  justify-content: center;
  justify-items: center;
  text-align: center;

}
.account-popover-icons{
  margin-left: 5%;
  height: 100%;
  width: auto;
}
