<ion-content>
  <swiper #swiper [config]="swiperConfig" (slideChange)="swiperSlideChanged($event)">
    <ng-template swiperSlide><ng-lottie [options]="lottieConfig"></ng-lottie></ng-template>
    <ng-template swiperSlide>Slide 2</ng-template>
    <ng-template swiperSlide>Slide 3</ng-template>
    <ng-template swiperSlide>Slide 4</ng-template>
    <ng-template swiperSlide>Slide 5</ng-template>
    <ng-template swiperSlide>Slide 6</ng-template>
    <ng-template swiperSlide>Slide 7</ng-template>
    <ng-template swiperSlide>Slide 8</ng-template>
    <ng-template swiperSlide>Slide 9</ng-template>
  </swiper>

</ion-content>
