.swiper-container{
  width: 100%;
  height: 100%;
}

.swiper-slide{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
app-about-page2{
  height: 100%;
  width: 100%;
}
app-about-page3{
  height: 100%;
  width: 100%;
}

app-about-page1{
  width: 100%;
  height: 100%;
}

span.swiper-pagination-bullet{
  background: white;
}
