ion-list {
  --background: transparent;
  background: transparent;
}

ion-item {
  --background: transparent;
  background: transparent;
}
.link{
  --color: var(--ion-color-light);
}
.active-link{
  --color: var(--ion-color-primary)
}
