<ion-content>
  <div [ngSwitch]=userPreferencesService.mediaFilter>
    <div *ngSwitchCase="'un-analyzed'">
      <ion-grid>
        <ion-row>
          <ion-col *ngFor="let video of videosService.videos$ | async; trackBy: videoTrackFn" size-xl="3">
            <app-videostore-card [video]="video"></app-videostore-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
    <div *ngSwitchCase="'analyzed'">
      <ion-grid>
        <ion-row>
          <ion-col *ngFor="let analyzedVideo of analyzedVideosService.analyzedVideos$ | async; trackBy: analyzedVideoTrackFn" size-xl="3">
            <app-analyzed-videostore-card [analyzedVideo]="analyzedVideo"></app-analyzed-videostore-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
    <div *ngSwitchCase="'all'">
      <ion-grid>
        <ion-row>
          <ion-col *ngFor="let video of videosService.videos$ | async; trackBy: videoTrackFn" size-xl="3">
            <app-videostore-card [video]="video"></app-videostore-card>
          </ion-col>
          <ion-col *ngFor="let analyzedVideo of analyzedVideosService.analyzedVideos$ | async; trackBy: analyzedVideoTrackFn" size-xl="3">
            <app-analyzed-videostore-card [analyzedVideo]="analyzedVideo"></app-analyzed-videostore-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>

</ion-content>

