.initial{
  height: 100%;
  width: 100%;
}

ion-title{
  font-size: 40pt;
  color: var(--ion-color-primary);
}
#architectureDescription{
  font-size: 18px;
}

ion-card.considerations{
  max-height: 20%;
}
