<ion-grid>
  <ion-row>
    <ion-col class="ion-justify-content-center ion-align-items-center ion-text-center">
      <ion-title>The Architecture</ion-title>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-card>
              <ion-card-content>
                <ion-text id="architectureDescription">
                  The High Five architecture was meticulously designed by our software engineers with a keen focus on
                  addressing the system's core quality requirements.
                  Following a thorough analysis of these requirements; a set of industry-standard architectural-styles
                  and patterns were selected, evaluated and elegantly intertwined to produce the exemplary architecture
                  that serves as the foundation of the system today.
                </ion-text>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
        <ion-row>

        </ion-row>
      </ion-grid>
    </ion-col>
    <ion-col>
      <ng-lottie [options]="lottieConfig"></ng-lottie>
    </ion-col>
  </ion-row>
</ion-grid>
