<ion-grid>
  <ion-row>
    <ion-col>
      <ion-title color="primary">The architecture</ion-title>
      <ion-content>
        <ion-card>
          <ion-card-content>
            <ion-card>
              <ion-card-content>
                <ion-text>
                  The High Five architecture was meticulously designed by our software engineers with a keen focus on
                  addressing the system's core quality requirements.
                  Following a thorough analysis of these requirements; a set of industry-standard architectural-styles
                  and patterns were selected, evaluated and elegantly intertwined to produce the exemplary architecture
                  that serves as the foundation of the system today.
                </ion-text>
              </ion-card-content>
            </ion-card>
          </ion-card-content>
        </ion-card>
        <swiper #swiper2 [config]="swiperConfig2" class="swiper2">
          <ng-template swiperSlide>
            Page 1
          </ng-template>
          <ng-template swiperSlide>
            Page 2
          </ng-template>
          <ng-template swiperSlide>
            Page 3
          </ng-template>
        </swiper>
      </ion-content>

    </ion-col>
    <ion-col>
      <ng-lottie [options]="lottieConfig"></ng-lottie>
    </ion-col>
  </ion-row>
</ion-grid>
