ion-card{
  height: 100%;
  width: 98%;
  background: transparent;
}
*{
  background: transparent;

}

ion-item{
  --background: transparent;
}
ion-list{
  --background: transparent;
}
ion-content{
  --background: transparent;
}
