<ion-card class="ion-justify-content-center ion-align-items-center ion-text-center">
  <ion-card-header>
    <ion-grid>
      <ion-row>
        <ion-col size="1"></ion-col>
        <ion-col size="10">
          <ion-card-title style="padding-top: 3%">Account Preferences</ion-card-title>
        </ion-col>
        <ion-col size="1">
          <ion-button fill="clear" (click)="close()">
            <ion-icon name="close-outline"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card-header>
  <ion-card-content style="height: 80%;">
    <ion-segment [(ngModel)]="option">
      <ion-segment-button value="details">
        <ion-label>
          Details
        </ion-label>
      </ion-segment-button>
      <ion-segment-button value="tools">
        <ion-label>
          Uploaded Tools
        </ion-label>
      </ion-segment-button>
      <ion-segment-button *ngIf="usersService.getIsAdmin()" value="unapprovedtools">
        <ion-label>
          Unapproved Tools
        </ion-label>
      </ion-segment-button>
      <ion-segment-button *ngIf="usersService.getIsAdmin()" value="admin">
        <ion-label>
          Admin
        </ion-label>
      </ion-segment-button>
    </ion-segment>
    <div [ngSwitch]="option" style="height: 80%;">
      <div *ngSwitchCase="'details'" style="height: 100%;">
        <ion-list>
          <ion-item>
            <ion-grid>
              <ion-row>
                <ion-col class="ion-text-end ion-align-items-end ion-justify-content-end" size="6">
                  <ion-text>First Name :</ion-text>
                </ion-col>
                <ion-col class="ion-text-start ion-align-items-start ion-align-items-start" size="6">
                  <ion-text>{{msalService.instance.getActiveAccount().idTokenClaims['given_name']}}</ion-text>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-item>
          <ion-item>
            <ion-grid>
              <ion-row>
                <ion-col class="ion-text-end ion-align-items-end ion-justify-content-end" size="6">
                  <ion-text>Last Name :</ion-text>
                </ion-col>
                <ion-col class="ion-text-start ion-align-items-start ion-align-items-start" size="6">
                  <ion-text>{{msalService.instance.getActiveAccount().idTokenClaims['family_name']}}</ion-text>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-item>
          <ion-item>
            <ion-grid>
              <ion-row>
                <ion-col class="ion-text-end ion-align-items-end ion-justify-content-end" size="6">
                  <ion-text>Username :</ion-text>
                </ion-col>
                <ion-col class="ion-text-start ion-align-items-start ion-align-items-start" size="6">
                  <ion-text>{{msalService.instance.getActiveAccount().idTokenClaims['name']}}</ion-text>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-item>
          <ion-item>
            <ion-grid>
              <ion-row>
                <ion-col class="ion-text-end ion-align-items-end ion-justify-content-end" size="6">
                  <ion-text>Email :</ion-text>
                </ion-col>
                <ion-col class="ion-text-start ion-align-items-start ion-align-items-start" size="6">
                  <ion-text>{{msalService.instance.getActiveAccount().idTokenClaims['emails'][0]}}</ion-text>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-item>
          <ion-item>
            <ion-grid>
              <ion-row>
                <ion-col class="ion-text-end ion-align-items-end ion-justify-content-end" size="6">
                  <ion-text>Admin :</ion-text>
                </ion-col>
                <ion-col class="ion-text-start ion-align-items-start ion-align-items-start" size="6">
                  <ion-text>{{usersService.getIsAdmin()}}</ion-text>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-item>
        </ion-list>
        <ion-grid>
          <ion-row>
            <ion-col size="4">
              <ion-button fill="clear" color="primary" (click)="editUserProfile()">Edit Account</ion-button>
            </ion-col>
            <ion-col size="4">
              <ion-button fill="clear" color="warning" (click)="purgeOwnMedia();">Purge All Media</ion-button>
            </ion-col>
            <ion-col size="4">
              <ion-button fill="clear" color="danger">Delete Account</ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
      <div *ngSwitchCase="'tools'" style="height: 100%;">
        <ion-content>
          <ion-list>
            <ion-list-header>
              <ion-label color="dark">
                First is the tool name, then the status of whether the tool has been approved or not, then the whether
                the tools contains the .onnx file and/or the .dll file (Class File), lastly is the button to delete the
                tool
              </ion-label>
            </ion-list-header>
            <ion-item *ngFor="let userTool of userToolsService.userTools$ | async; trackBy: userToolsTrackFn">
              <ion-label>
                {{userTool.toolName}}
              </ion-label>
              <ion-button [disabled]="true" [shape]="'round'">
                <ion-icon *ngIf="userTool.isApproved" name="checkmark-outline"></ion-icon>
                <ion-icon *ngIf="!userTool.isApproved" name="close-outline"></ion-icon>
              </ion-button>
              <ion-chip [color]="'success'" [disabled]="true" *ngIf="userTool.toolType==='analysis'">
                <ion-label>ONNX Model</ion-label>
                <ion-icon [name]="'checkmark-outline'"></ion-icon>
              </ion-chip>
              <ion-chip [color]="'success'" [disabled]="true">
                <ion-label>Tool Class File</ion-label>
                <ion-icon [name]="'checkmark-outline'"></ion-icon>
              </ion-chip>
              <ion-button slot="end" fill="clear" expand="block" color="danger" [disabled]="userTool.isDefaultTool"
                          (click)="userToolsService.removeTool(userTool.toolId,userTool.toolType)">
                <ion-icon name="trash-outline"></ion-icon>
              </ion-button>
            </ion-item>
          </ion-list>
        </ion-content>
        <ion-fab vertical="bottom" horizontal="end" slot="fixed">
          <ion-fab-button (click)="addUserTool()">
            <ion-icon name="add"></ion-icon>
          </ion-fab-button>
        </ion-fab>
      </div>
      <div *ngSwitchCase="'admin'" style="height: 100%;">
        <ion-content>
          <ion-list>
            <ion-list-header>
              <ion-label color="dark">
                First is the user's name, then the toggle to promote the user to admin, then the button for purging all
                media of the user (including pipelines),
                lastly is the button to request to delete the user's account.
              </ion-label>
            </ion-list-header>
            <ion-item *ngFor="let user of usersService.users$ | async; trackBy : usersTrackFn ">
              <ion-label>
                {{user.displayName}} ({{user.email}})
              </ion-label>
              <ion-toggle slot="end" checked="{{user.isAdmin}}"
                          (ionChange)="changeUserAdminStatus($event, user)"></ion-toggle>
              <ion-button slot="end" fill="clear" expand="block" color="warning" (click)="purgeUserMedia(user)">
                <ion-icon name="trash-bin-outline"></ion-icon>
              </ion-button>
              <ion-button slot="end" fill="clear" expand="block" color="danger" (click)="requestToRemoveUser(user);">
                <ion-icon name="trash-outline"></ion-icon>
              </ion-button>
            </ion-item>
          </ion-list>
        </ion-content>
      </div>
      <div *ngSwitchCase="'unapprovedtools'" style="height: 100%;">
        <ion-content>
          <ion-list>
            <ion-list-header>
              <ion-label color="dark">
                First is the tool id, then the buttons to download the .dll file and .onnx file (if there is one) of
                the tool, lastly are the buttons to approve or deny the tool
              </ion-label>
              <ion-button fill="clear" expand="block" (click)="refreshUnapproved()">
                Refresh
              </ion-button>
            </ion-list-header>
            <ion-item
              *ngFor="let unapprovedTool of usersService.unreviewedTools$ | async; trackBy: unreviewedToolsTrackFn">
              <ion-label>
                {{unapprovedTool.toolId}}
              </ion-label>
              <ion-button slot="end" *ngIf="unapprovedTool.toolDll!== undefined" fill="clear" expand="block"
                          color="primary" (click)="downloadDll(unapprovedTool)">
                <ion-icon name="download-outline"></ion-icon>
                <ion-label>DLL</ion-label>
              </ion-button>
              <ion-button slot="end" *ngIf="unapprovedTool.toolModel!== undefined" fill="clear" expand="block"
                          color="primary" (click)="downloadOnnx(unapprovedTool)">
                <ion-icon name="download-outline"></ion-icon>
                <ion-label>ONNX Model</ion-label>
              </ion-button>
              <ion-button slot="end" fill="clear" expand="block" color="danger" (click)="rejectTool(unapprovedTool)">
                <ion-icon name="close-outline"></ion-icon>
              </ion-button>
              <ion-button slot="end" fill="clear" expand="block" color="success" (click)="approveTool(unapprovedTool)">
                <ion-icon name="checkmark-outline"></ion-icon>
              </ion-button>
            </ion-item>
          </ion-list>
        </ion-content>
      </div>
    </div>
  </ion-card-content>
</ion-card>

