app-welcome{
  //padding: 0;
  //margin: 0;
  //box-sizing: border-box;
}
ion-content{
  --background : url('../../../assets/images/welcome_landscape.svg') no-repeat center center / cover;
  overflow: hidden;

}
#wholeDrone{
  max-width: 10vw;
  max-height: 10vh;
  bottom: 0;
  left: 50vw;
  animation: droneFly 5s linear;
  position: absolute;
}

#Rotor0{
  animation: drone0 300ms linear infinite;
  transform-origin: center;
  transform-box: fill-box;
}

#Rotor1{
  animation: drone1 300ms linear infinite;
  transform-origin: center;
  transform-box: fill-box;
}


#Rotor2{
  animation: drone0 300ms linear infinite;
  transform-origin: center;
  transform-box: fill-box;
}

#Rotor3{
  animation: drone1 300ms linear infinite;
  transform-origin: center;
  transform-box: fill-box;
}

@keyframes drone0 {
  from{
    transform: rotateZ(0deg);
  }
  to{
    transform: rotateZ(360deg);
  }
}

@keyframes droneFly  {
  from {
    bottom: 0 ;
  }
  to{
    bottom: 600px;
  }
}


@keyframes drone1 {
  from {
    transform: rotateZ(360deg);
  }
  to {
    transform: rotateZ(0deg);
  }
}
//#layer0 {
//  animation: animation-layer0 1.1s ease-in-out infinite alternate ;
//  transform-origin: top;
//
//}
//
//@keyframes animation-layer0 {
//  from {
//    transform: rotateX(0deg);
//  }
//  to {
//    transform: rotateX(10deg);
//  }
//}
//
//#layer1 {
//  animation: animation-layer0 1.5s ease-in-out infinite alternate ;
//  transform-origin: bottom;
//}
//#layer2 {
//  animation: animation-layer0 1.5s ease-in-out infinite alternate ;
//  transform-origin: bottom;
//}
//
//#layer3 {
//  animation: animation-layer0 1.5s ease-in-out infinite alternate ;
//  transform-origin: bottom;
//}
//
//#layer4 {
//  animation: animation-layer0 1.5s ease-in-out infinite alternate ;
//  transform-origin: bottom;
//}
